LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY="your-langsmith-api-key"
LANGSMITH_PROJECT="job-recommendation-agent"

OPENROUTER_API_KEY="your-openrouter-api-key"
# OPENROUTER_MODEL="minimax/minimax-m3:free"
OPENROUTER_MODEL="nvidia/nemotron-3.5-lightning:free"

BREVO_API_KEY="your-brevo-api-key"
EMAIL_FROM="your-email@example.com"
EMAIL_TO="your-email@example.com"

FIRECRAWL_API_KEY="your-firecrawl-api-key"

GOOGLE_API_KEY="your-google-api-key"
GOOGLE_MODEL="gemini-3.5-flash-lite"